@charset "utf-8";
/* CSS Document */

button {
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}



.image2pages2 {
    position: fixed;
    right: 20px;
    top: 10px;
    width: 250px;
    height: auto;
}

.welcome-box2 {
    position: fixed;
    top: 45%;
    right: 100px;
    transform: translateY(-50%);
    background-color: #F8C8DC; /* สีชมพูพาสเทล */
    padding: 15px 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: bold;
    color: #000; /* ตัวอักษรสีดำ */
    border: 2px solid white; /* ขอบสีชมพูเข้มขึ้น */
    text-align: center;
	height: 50px;
    width: 230px;
	display: flex; /* ใช้ flexbox */
    justify-content: center; /* จัดตำแหน่งข้อความในแนวนอนให้ตรงกลาง */
    align-items: center; /* จัดตำแหน่งข้อความในแนวตั้งให้ตรงกลาง */
}
